@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is demo website.</p>
<p>Main goals - request access to Google Drive API only when user clicks on `Drive Data`.</p>

