@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>oAuth - Google Drive API Demo</h1>
    <p class="lead"></p>
    @Html.ActionLink("Open Drive Data Page", "IndexAsync", "Drive", null, new { @class = "btn btn-primary btn-lg" })
</div>
